* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background: rgba(0, 0, 0, 0.72);
    color: white;
}

body,
html {
    overflow-x: hidden;
}

.home-page {
    /* background-image: url("");
    width: 100vw;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; */
    background-color: rgb(242, 239, 229);
}

.hp-first-div {
    width: 100vw;
    overflow-x: hidden;
}

.hp-second-div {
    width: 100vw;
    /*background: #faf7f2;*/
    padding-bottom: 5vh;
}

.hp-main-container {
    display: flex;
    flex-direction: column;
    /*background-color: #312e2e;*/
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;
    height: 55vh;
    z-index: 99;
}

.feast-slogan {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    height: 450px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.feast-slogan h1 {
    font-weight: 800;
    color: white;
}

.hp-search-wrapper {
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: white;
    height: 7vh;
    width: 55vw;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    margin-top: -300px;
    position: relative;
}

.hp-search-wrapper span {
    display: inline-block;
    padding: 0.2rem 15px 0 0.3rem;
    font-size: 2vw;
    background-color: #ffffff;
    margin-left: -1.72rem;
}

.hp-search-wrapper span:hover {
    cursor: pointer;
}

.hp-search-wrapper input {
    height: 100%;
    width: 100%;
    padding: 0 0 0 2rem;
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-family: "Gilroy Regular";
    font-weight: 100;
    letter-spacing: 2px;
}

.home-search-div {
    padding-left: 6vw;
    display: flex;
    justify-content: center;
    background-color: #faf7f2;
}



.view-more-btn {
    display: flex;
    justify-content: center;
    margin-top: 14vh;
}

/* Image Slider Styles */
.slider-container {
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    position: relative;
    /*background-color: #faf7f2;*/
}

.img-container {
    width: 100%;
    height: 65vh;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    /*background-color: #312e2e;*/
}

.slide_div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
}

.img {
    position: relative;
    height: 40vh;
    width: 15vw;
    /*filter: saturate(10%);*/
    object-fit: cover;
    transition: 0.7s;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.slide-button {
    position: absolute;
    height: 40vh;
    width: 15vw;
    transition: 0.7s;
    /*background-color: rgba(0, 0, 0, 0.4);*/
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
}

.slide-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#slider1:target~.imgContainer #img1,
#slider1:target~.imgContainer #button1 {
    width: 23vw;
    height: 60vh;
    background-color: transparent;
    filter: saturate(100%);
}

#slider2:target~.imgContainer #img2,
#slider2:target~.imgContainer #button2 {
    width: 23vw;
    height: 60vh;
    background-color: transparent;
    filter: saturate(100%);
}

#slider3:target~.imgContainer #img3,
#slider3:target~.imgContainer #button3 {
    width: 23vw;
    height: 60vh;
    background-color: transparent;
    filter: saturate(100%);
}

#slider4:target~.imgContainer #img4,
#slider4:target~.imgContainer #button4 {
    width: 23vw;
    height: 60vh;
    background-color: transparent;
    filter: saturate(100%);
}

#slider5:target~.imgContainer #img5,
#slider5:target~.imgContainer #button5 {
    width: 23vw;
    height: 60vh;
    background-color: transparent;
    filter: saturate(100%);
}

#slider6:target~.imgContainer #img6,
#slider6:target~.imgContainer #button6 {
    width: 23vw;
    height: 60vh;
    background-color: transparent;
    filter: saturate(100%);
}

#slider7:target~.imgContainer #img7,
#slider7:target~.imgContainer #button7 {
    width: 23vw;
    height: 60vh;
    background-color: transparent;
    filter: saturate(100%);
}

#slider1:target~.imgContainer {
    left: 60%;
}

#slider2:target~.imgContainer {
    left: 40%;
}

#slider3:target~.imgContainer {
    left: 20%;
}

#slider4:target~.imgContainer {
    left: 0%;
}

#slider5:target~.imgContainer {
    left: -20%;
}

#slider6:target~.imgContainer {
    left: -40%;
}

#slider7:target~.imgContainer {
    left: -60%;
}